
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
    font-weight: 300;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    transition: top 0.3s;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.link-name {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 60px;
    margin-left: 35px;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px; 
    margin-right: 50px;
}

/* UL SOCIAL MEDIA */

.content {
    background-color: #ffffff; /* Color de fondo para la sección */
    padding: 10px;
    margin-left: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 22px;
    margin-bottom: 10px;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover{
    color: blue;
    text-decoration: underline;
}



/* Foto */

.middle-section {
    background-color: #ffffff; /* Color de fondo para la sección */
    padding: 60px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 25px;
    margin-bottom: 15px;
    margin-right: 750px;
}

.image {
    /* Estilos para la imagen, como márgenes, tamaño, etc. */
}


/* Projects */

.projects-section {
    background-color: #ffffff;
    padding: 65px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    width: 48%; 
    background-color: #fff;
    margin-bottom: 20px;
    padding: 50px;
}

.project-info {
    text-align: start;
    padding-bottom: 6px;
}

.project-text {
    font-size: 40px;
}

.project-text a {
    text-decoration: none;
    color: black;
}

.project-text a:hover{
    text-decoration: underline;
    color: blue;
    }

.project-link {
    text-align: center;
}

.project img {
    height:  400px;
    max-width: 100%;
    margin-right: 180px;
}

/* ABOUT */

.about-section {
    background-color: #B73418;
    padding: 40px 0;
}


.about-content {
    padding: 35px;
    padding-left: 60px;
    font-size: 45px;
}



.about-text {
    font-size: 45px;
    margin-bottom: 15px;
    line-height: 1.1;
    color: #ffffff;
}

.about-h2{
    margin-top: 50px;
    margin-bottom: 35px;
    line-height: 1.1;
    color: #000000;
    font-weight: bold;
}


/* Projects */

.project-p{
    font-size: 30px;
    margin-left: 25px;
    padding: 30px;
    color: rgb(0, 0, 0);
}

.project-a{
    color: blue;
    font-size: 30px;
    text-decoration: none;
    margin-left: 40px;
    padding-left: 15px;
}

.project-a:hover{
    text-decoration: underline;
    color: black;
}

/* Image JESUSAVES */

.image-container-js {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-js {
    margin: 15px;
    padding: 30px;
    width: 482px;
    height: 960px;
    margin-right: 20px; /* Espacio entre imágenes */
}


/* SOLMAINT IMG*/

.image-solmaint{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.image-solmaint img{
    border-radius: 7px;
}